

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --color-primary: #adaf38;
    --color-secondary: rgb(223, 61, 101);
    --color-neutral: rgb(219, 219, 231);
    --color-orange:#fb8f67;
    --color-white: white;
    --color-black: black;

    --transition: all .4s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3)
}

@mixin grid($grid-template-columns: repeat(3, 1fr)) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

@mixin titleText($size: 2rem, $weight: normal, $transform: capitalize) {
    color: var(--color-black);
    padding: 0.5rem;
    font: {
      size: $size;
      weight: $weight;
    }
    text: {
      transform: $transform;
      align: center;
    }
  }

  // mixin for flex layout
@mixin flex($direction: row, $justify: center, $align: center, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }

  @mixin graphText($size: 1.6rem) {
    color: var(--color-black);
    padding: 1rem;
    font-size: $size;
    line-height: 1.5;
    text: {
      transform: capitalize;
      align: left;
    }
  }

  .buttonStyle {
    padding: 0.5rem 2rem;
    border: 0.2rem solid var(--color-orange);
    border-radius: 50rem;
    font-size: 2rem;
    color: var(--color-orange);
    cursor: pointer;
    text-transform: capitalize;
    background-color: transparent;
    transition: var(--transition);
  
    &:hover {
      color: var(--color-white);
      background-color: var(--color-orange);
    }
  }

  




body {
    background-color: var(--color-grey-5);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    line-height: 1.45;
   
    transition: var(--transition);
   
    max-width: 1200px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

a,
button,
input[button],
input[submit] {
  transition: var(--transition);
}

header {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var();
    overflow: hidden;
    @media screen and (max-width: 610) {
        min-height: 100vh;
    }
}
section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 6rem 1rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: var(--transition);
    background-color: transparent ;  
    image-rendering: pixelated;
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
  
}

.sec2 {
    display: none;
    //  background-color: yellowgreen;
    transform: translateX(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateX(0) scale(1);
  
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
    
}


.active {
    display: block;
    animation: animate 1s ease-in-out;
    @keyframes animate {
        0% {
            transform: translateX(-100%) scaleY(0);
           
        }
        100% {
            transform: translateX(0%) scaleY(1);
        }
    }
}

.header-box{
   text-align: center;
    background-color: var(--color-neutral);
    max-width: 1200px;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 8rem;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: var(--box-shadow-1);
    border-radius: 0 0 10px 10px;
//logo
.logo{
   text-align: center;
    z-index: 0;
    img {
        width: 3rem;
        height: auto;
        cursor: pointer;
      }
   
}
//links
.links{
   
    z-index: 1;
   padding: 0 1rem;
  //  margin: 2rem ;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .activeBtn {
        color: var(--color-orange) !important;
        transition: var(--transition);
        &:hover,
          &.active {
            color: var(--color-orange);
            border-bottom: 0.2rem solid var(--color-orange);
          }
        
    }
    
    .link {
        cursor: pointer;
        text-transform: capitalize;
        text-align: center;
        font-size: 1.5rem;
        margin: .7rem 0;
        padding: 0.2rem;
    }
}
#menu-bar {
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    display: none;
  }
}

//Home page
// =====header home section=====

    .home {
    padding: 4rem 2rem ;
    margin-top: 1rem;
    @include flex(row,center ,center );
    position: relative;
    z-index: 1;
  
    .home-wrapper {
      text-align: center;
      padding-top: 4rem;
  
      h1 {
        @include titleText(4rem, 700);
      }
  
      p {
        @include graphText(1.8rem);
      }
  
      input {
        @extend .buttonStyle;
        margin-top: 3rem;
      }
      
    } 
       img{
        margin: 1rem 0rem;
        border-radius: 20px;
        height: 400px;
        width: 500px;
        background-color: var(--color-neutral);
         border: var(--color-neutral) solid;
       }
    
  }

  //About page
  .about {
    padding: 2rem ;
   
    @include flex(row,center ,center );
    position: relative;
    z-index: 0;
    .about-image{
         border-radius: 20px;
        img{
          margin: 1rem 0rem;
          border-radius: 20px;
          height: 500px;
          width: 500px;
          background-color: var(--color-neutral);
           border: var(--color-neutral) solid;
           object-fit: fill;
        }
        
    }
    .about-page {
      text-align: center;
      h1 {
        @include titleText(3rem, 600);
      }
  
      p {
        @include graphText(1.8rem);
      }
  
      input {
        @extend .buttonStyle;
        margin-top: 3rem;
      }
  
    }
  }


  //gallery page
  .galleryRender{
    padding: 1rem ;
    @include grid();
    z-index: 0;
    .galleria{
         border-radius: 20px;
         background-color: var(--color-neutral);
         padding-bottom: 2px;
        img{
          height: 300px;
          width: 400px;
            background-color: var(--color-neutral);
          border: var(--color-neutral) solid;
          object-fit: cover;
        }
    .gallery-Page{
      text-align: center;
      padding: 1rem;
      @include flex(column,center ,center, 0.2rem );
      h3 {
          color: var(--color-black);
          font-size: 1.4rem;
          // line-height: 1.5;
          text: {
            transform: capitalize;
            align: center;
          }
        
      }
  
      h4 {
        color: var(--color-black);
        
        font-size: 1.2rem;
        // line-height: 1.5;
        text: {
          transform: capitalize;
          align: center;
        }
      }
     
      input{
        padding: 0.5rem 1rem;
        margin-top: 2rem;
        border: 0.2rem solid var(--color-orange);
        border-radius: 50rem;
        font-size: 1rem;
        color: var(--color-orange);
        cursor: pointer;
        text-transform: capitalize;
        background-color: transparent;
        transition: var(--transition);
        &:hover {
          color: var(--color-white);
          background-color: var(--color-orange);
        }
    }
      }
  
    }
  }

  //contact page
  .contactpage{
    padding: 1rem ;
    @include flex(column,center,center );
    z-index: 0;
    gap: 1rem;

    .order-content{
      @include grid();
      h2 {
        font-size: 2rem;
        padding: 2rem;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        color: var(--color-black);
      
        span {
          padding: 0 1rem;
          color: var(--color-orange);
        }
      }
      .order-form{
        grid-column: 1 / 7;
        padding: 2rem;
        text-align: center;
        input,
      textarea {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
        margin: 2rem 0;
        text-transform: inherit;
        background-color: var(--color-neutral);

        &::placeholder {
          text-transform: capitalize;
        }
      }

      textarea {
        max-width: 100%;
        resize: none;
      }

      button {
        @extend .buttonStyle;
      }
      }
  
    }
  .contactRender{
    padding: 4rem ;
    @include flex( );
    z-index: 0;
    gap: 4rem;
    text-align: left;
    background-color: var(--color-neutral);
   
         
    .quick-links, .follow-us, .contact-info{
      text-align: left;
      padding: 1rem;
      @include flex(column, center ,center, 0.2rem );
      h3 {
          color: var(--color-black);
          font-size: 1.4rem;
          // line-height: 1.5;
          text: {
            transform: capitalize;
            align: left;
          }
        
      }
  
      h4 {
        color: var(--color-black);
        font-size: 1.5rem;
        // line-height: 1.5;
        text: {
          transform: capitalize;
          align: center;
        }
      }
      p {
        color: var(--color-black);
        font-size: 1.4rem;
        // line-height: 1.5;
        text: {
          transform: capitalize;
          align: left;
        }
      
    }

     
      a{
      
        font-size: 1.5rem;
        color: var(--color-black);
        cursor: pointer;
        
        text-transform: capitalize;
        background-color: transparent;
        transition: var(--transition);
        &:hover {
          color: var(--color-orange);        }
    }
      }
    }

    footer{
      font-size: 2rem;
      
      font-weight: 500;
      text-align: left;
      text-transform: capitalize;
      ;
    }
  }
  